header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-size: 600%;
    margin-top: 5%;
    color: black;
    background: white;
}

button{
    display:flex;
    flex-direction: column;
    margin-left: 35%;
    margin-top: 10%;
    font-size: 250%;
    font-weight: bold;
}